body, html {
    height: 100%;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    background-color: #f0f2f5;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #333;
}

.quiz-container {
    width: 100%;
    max-width: 600px;
    min-height: 700px; /* Angepasst für zusätzlichen Platz */
    background-color: #ffffff;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* Stellt sicher, dass die Buttons am unteren Rand bleiben */
}

#quiz-progress {
    font-size: 18px;
    color: #555;
    margin-bottom: 20px;
    text-align: center;
}

button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 12px 24px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
    margin: 5px;
    text-align: left; /* Antwortbuttons Texte links ausrichten */
}

#previous, #next {
    text-align: center; /* "Zurück" und "Nächste Frage" Buttons Texte zentrieren */
    flex-grow: 1; /* Ermöglicht den Buttons, den verfügbaren Platz auszufüllen */
}

#previous {
    background-color: #6c757d;
    display: block; /* Stellt sicher, dass der "Zurück" Button sichtbar ist */
}

button:hover {
    opacity: 0.85;
}

.frage-text, .feedback-container {
    font-size: 18px;
    margin-bottom: 20px;
    text-align: left;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

li button {
    text-align: left; /* Bestätigt, dass Antwortbutton-Texte links ausgerichtet sind */
    display: block;
    margin: 10px auto;
    width: 100%; /* Entfernt calc(100% - 20px) für Konsistenz */
}

.feedback-container {
    width: calc(100% - 80px); /* Passt die Breite an, um das Padding des .quiz-container zu berücksichtigen */
    margin: 20px auto; /* Zentriert den Container, falls gewünscht */
    padding: 20px; /* Optional, für inneren Abstand */
    background-color: #e9ecef;
    border-radius: 5px;
    display: none; /* Initial versteckt */
    text-align: center;
}

.button-container {
    position: relative; /* oder 'absolute', falls 'quiz-container' relativ positioniert ist */
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.leistungsanzeige {
    text-align: center;
    margin-top: 20px;
}