body, html {
    min-height: 100vh;
    width: 100%;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    background-color: #f0f2f5;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #333;
    overflow: auto;
}

.main-wrapper {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 20px;
    flex-wrap: wrap;
    padding: 20px;
}

.quiz-container {
    max-width: 80vh;
    min-height: 600px;
    background-color: #ffffff;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow-y: auto;
}

#quiz-progress, #richtige-antworten-anzeige, .frage-text, .feedback-container {
    font-size: 18px;
    margin-bottom: 20px;
    text-align: center;
}

button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 12px 24px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
    margin: 5px;
    text-align: left;
}

#previous, #next {
    text-align: center;
    flex-grow: 1;
}

#previous {
    background-color: #6c757d;
}

button:hover, button:focus, button:active {
    opacity: 0.85;
    outline: none;
    box-shadow: 0 0 0 2px #0056b3;
}

.frage-text, .feedback-container {
    font-size: 18px;
    margin-bottom: 20px;
    text-align: justify;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

li button {
    text-align: left;
    display: block;
    margin: 10px auto;
    width: 100%;
}

.feedback-container {
    width: calc(100% - 80px);
    margin: 20px auto;
    padding: 20px;
    background-color: #e9ecef;
    border-radius: 5px;
    display: none;
    text-align: left;
}

.button-container {
    position: relative;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.leistungsanzeige, .nummerierte-liste, .buchstaben-liste-klein, .buchstaben-liste-gross, .kreis-liste {
    text-align: center;
    margin-top: 20px;
}

.nummerierte-liste {
    list-style-type: decimal;
}

.buchstaben-liste-klein {
    list-style-type: lower-alpha;
}

.buchstaben-liste-gross {
    list-style-type: upper-alpha;
}

.runde-liste {
    list-style-type: circle;
}

table, th, td {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

.quiz-tabelle {
    table-layout: fixed;
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

.quiz-tabelle tr:nth-child(odd) {
    background-color: #f2f2f2;
}

.quiz-tabelle tr:nth-child(even) {
    background-color: #ffffff;
}

.quiz-tabelle th {
    background-color: #657286;
    color: white;
    font-weight: bold;
}

.quiz-tabelle th, .quiz-tabelle td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
    word-wrap: break-word;
}

#fortschritt-map-container {
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    background-color: #f2f2f2;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    justify-content: center;
    max-width: 260px;
    margin: 20px auto 0;
}

.fortschritt-punkt {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #ddd;
    margin: 5px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    color: black;
}

.fortschritt-punkt.aktiv {
    border: 2px solid #000;
    background-color: #ff8d00;
}

.bild-container {
    text-align: center;
    margin: 20px 0;
}

.ac-liste {
    list-style-type: none;
    counter-reset: ac-counter;
    padding-left: 0;
}

.ac-liste li {
    counter-increment: ac-counter;
    position: relative;
    padding-left: 40px;
    margin-bottom: 20px;
}

.ac-liste li::before {
    content: "AC" counter(ac-counter) ": ";
    position: absolute;
    left: 0;
    width: 50px;
    text-align: left;
}

.logo-container img {
    content: url('pics/coezbaylogotextblack.svg');
    max-width: 100%;
    height: auto;
    display: block;
    margin: 20px auto;
    transform: scale(2);
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: #2196F3;
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
    transform: translateX(26px);
}

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

@media (prefers-color-scheme: dark) {
    body, html {
        background-color: #121212;
        color: #e0e0e0;
    }

    .quiz-container {
        background-color: #242424;
        color: #e0e0e0;
    }

    button {
        background-color: #333333;
        color: #ffffff;
    }

    button:hover, button:focus, button:active {
        background-color: #444444;
    }

    .feedback-container {
        background-color: #006400;
        color: #000000;
    }

    .quiz-tabelle, .quiz-tabelle th, .quiz-tabelle td {
        background-color: #242424;
        border: 1px solid #444444;
        color: #e0e0e0;
    }

    .quiz-tabelle th {
        background-color: #3a3a3a;
    }

    #fortschritt-map-container {
        background-color: #333333;
    }

    .fortschritt-punkt {
        background-color: #444444;
    }

    .fortschritt-punkt.aktiv {
        background-color: #ff8d00;
    }

    .bild-container {
        filter: brightness(0.8) contrast(1.2);
    }

    .logo-container img {
        content: url('pics/coezbaylogotextwhite.svg');
        max-width: 100%;
        height: auto;
        display: block;
        margin: 20px auto;
        transform: scale(2);
    }
}