body, html {
    height: 100%;
    width: 100%;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    background-color: #f0f2f5;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #333;
}

.main-wrapper {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 20px;
    flex-wrap: wrap;
    padding: 20px;
}

.quiz-container {
    max-width: 80vh;
    min-height: 600px;
    background-color: #ffffff;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow-y: auto;
}

#quiz-progress, #richtige-antworten-anzeige, .frage-text, .feedback-container {
    font-size: 18px;
    margin-bottom: 20px;
    text-align: center;
}

button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 12px 24px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
    margin: 5px;
    text-align: left;
}

#previous, #next {
    text-align: center;
    flex-grow: 1;
}

#previous {
    background-color: #6c757d;
}

button:hover, button:focus, button:active {
    opacity: 0.85;
    outline: none;
    box-shadow: 0 0 0 2px #0056b3;
}

.frage-text, .feedback-container {
    font-size: 18px;
    margin-bottom: 20px;
    text-align: justify;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

li button {
    text-align: left;
    display: block;
    margin: 10px auto;
    width: 100%;
}

.feedback-container {
    width: calc(100% - 80px);
    margin: 20px auto;
    padding: 20px;
    background-color: #e9ecef;
    border-radius: 5px;
    display: none;
    text-align: left;
}

.button-container {
    position: relative;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.leistungsanzeige, .nummerierte-liste, .buchstaben-liste-klein, .buchstaben-liste-gross, .kreis-liste, .ac-liste, .ac-liste li::before {
    text-align: center;
    margin-top: 20px;
}

table, th, td, .tabellen-kopf-zeile td, .quiz-tabelle tr:nth-child(odd), .quiz-tabelle th, .quiz-tabelle td {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
    background-color: #f9f9f9;
    font-size: 16px;
}

#fortschritt-map-container {
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    background-color: #f2f2f2;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    justify-content: center;
    max-width: 260px;
    margin: 20px auto 0;
}

.fortschritt-punkt {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #ddd;
    margin: 5px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    color: black;
}

.fortschritt-punkt.aktiv {
    border: 2px solid #000; /* Schwarzer Rand um den aktiven Punkt */
    background-color: #ff8d00; /* Hintergrundfarbe des aktiven Punkts */
}

.bild-container {
    text-align: center; /* Zentriert das Bild */
    margin: 20px 0; /* Fügt oben und unten einen Abstand hinzu */
}